/* CSS HEX */
:root {
	--black: #000000ff;
	--white: #ffffffff;
	--picton-blue: #29abe2ff;
	--indigo-dye: #015277ff;
	--prussian-blue: rgb(185, 211, 225);
	--card-height: 300px;
	--card-width: calc(var(--card-height) / 1.5);
}
* {
	box-sizing: border-box;
}
/* Add the variables to the CSS */
body {
	background-color: var(--black);
	color: var(--white);
	width: 100vw;

	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow-x: hidden;
}
/* added some style for cards */
.card {
	height: var(--card-height);
	width: var(--card-width);
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 36px;
	perspective: 2500px;
	margin: 0 50px;
	cursor: pointer;
}
.coverimage {
	height: 100%;
	aspect-ratio: 1/2;
	object-fit: cover;
}
.wrapper {
	transition: all 0.5s;
	position: absolute;
	width: 100%;
	top: 0;
	z-index: -1;
}
.wrapper::before,
.wrapper::after {
	content: "";
	opacity: 0;
	width: 100%;
	height: 80px;
	transition: all 0.5s;
	position: absolute;
	left: 0;
}
.wrapper::before {
	top: 0;
	height: 100%;
	background-image: linear-gradient(
		to top,
		transparent 46%,
		rgb(12, 13, 19, 0.5) 68%,
		rgb(12, 13, 19) 97%
	);
}
.wrapper::before {
	bottom: 0;
	opacity: 1;
	background-image: linear-gradient(
		to top,
		transparent 46%,
		rgb(12, 13, 19, 0.5) 68%,
		rgb(12, 13, 19) 97%
	);
}
.title {
	width: 100%;
	transition: transform 0.5s;
	transform: translate3d(-10%, 70%, 100px);
}
.character {
	width: 200%;
	opacity: -1;
	position: absolute;
	z-index: -1;
	transition: all 0.5s;
}
.card:hover .wrapper {
	transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
	box-shadow: 0px 35px 32px -8px rgb(0, 0, 0, 0.75);
}
.card:hover .title {
	transform: translate3d(0%, 30%, 100px);
}
.card:hover .wrapper::after,
.wrapper::before {
	opacity: 1;
}
.card:hover .wrapper::after {
	height: 120px;
}
.card:hover .wrapper::before {
	opacity: 1;
}
.card:hover .character {
	opacity: 1;
	transform: translate3d(0%, -20%, -100px);
}

/* CSS HEX */
:root {
	--black: #000000ff;
	--white: #ffffffff;
	--picton-blue: #29abe2;
	--indigo-dye: #015277ff;
	--prussian-blue: #072c42ff;
}

/* Add the variables to the CSS */
body {
	background-color: var(--black);
	color: var(--white);
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	box-sizing: border-box;
}

body {
	background-color: var(--black);
	overflow-x: hidden;
}

.wrapper {
	width: 100%;
	min-height: 100vh;
	display: flex;
	color: aliceblue;
	font-family: "Poppins", sans-serif;
	font-weight: 200;
	margin-bottom: 10px;
	background-color: var(--black);
}

.wrapper > div {
	width: 50%;
}

.hero-text-container {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	height: 100vh;
	overflow: hidden;
}

.hero-text-container > img {
	position: absolute;
	right: 0;
	top: 0;
	height: 100vh;
	width: auto;
	object-fit: cover;
	aspect-ratio: 4/1;
	filter: saturate(0);
	opacity: 20%;
	mask-image: linear-gradient(
		to left,
		transparent,
		rgb(109, 109, 109) 70%,
		black 30%
	);
}

.hero-text-container > div {
	margin: auto;
	margin-inline: 60px;
	margin-left: 100px;
	z-index: 3;
}

.hero-text-container > div > h1 {
	font-size: 60px;
}

.hero-text-container > div > h2 {
	font-size: 20px;
	margin-block: 10px;
	margin-bottom: 20px;
	color: var(--picton-blue);
	font-weight: 500;
}
.hero-text-container > div > h3 {
	font-size: 18px;
	opacity: 0.7;
	font-weight: 200;
}

.hero-text-container > div > a > div {
	font-size: 18px;
	background-color: var(--picton-blue);
	padding: 14px 30px;
	border-radius: 30px;
	font-weight: 600;
	margin-block: 30px;
	text-decoration: none;
	display: flex;
	width: 220px;
	text-decoration: none;
	color: var(--black);
	align-items: center;
	justify-content: center;
	gap: 10px;
	text-decoration: none;
	transition: 200ms;
}

.hero-text-container > div > a > div:hover {
	opacity: 0.7;
}

.hero-text-container > div > a > div > span {
	font-weight: 500;
}

nav {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 20;

	width: 100%;
	height: 70px;
	backdrop-filter: blur(1px) saturate(180%);
	-webkit-backdrop-filter: blur(1px) saturate(180%);
	background-color: rgba(17, 25, 40, 0.75);

	border: 1px solid rgba(255, 255, 255, 0.125);
	display: flex;
	color: aliceblue;
	display: flex;
	padding-inline: 30px;
	gap: 30px;
	display: none;
	font-weight: 400;
	align-items: center;
}

nav > a {
	color: aliceblue;
}

.screen1_menu_btn {
	display: none;
}
.logodiv {
	margin-right: auto;
	font-weight: 600;
	font-size: 25px;
	display: flex;
	align-items: center;
	gap: 20px;
}
.logodiv > img {
	height: 60px;
}
.logodiv > p {
	font-size: 18px;
	line-height: 20px;
}

.logodiv > p > b {
	color: var(--picton-blue);
	font-size: 12px;

	font-weight: 400;
}

.hero-interactive {
	background: url(./public/main-img.svg);
	background-position: center;
	background-size: contain;

	background-repeat: no-repeat;
	filter: saturate(0);
	height: 100vh;
	z-index: 10;

	position: relative;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: end;
}
.hero-interactive > div {
	width: 600px;
	height: 600px;
	background-color: var(--black);
	transform: translateX(30%);
	z-index: 20;
	border-radius: 50%;
	overflow: hidden;
}

.hero-interactive > div > canvas {
	background-color: var(--black);
	width: 600px;
	border-radius: 50%;
	overflow: hidden;
	z-index: 4;
}

.menu {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	width: 0;
	overflow: hidden;
	height: 100vh;
	background: rgba(0, 53, 84, 0.516);
	box-shadow: 0 8px 32px 0 rgba(31, 64, 135, 0.847);
	backdrop-filter: blur(19.5px);
	-webkit-backdrop-filter: blur(30.5px);
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.18);
	z-index: 50;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}

.navlinks > a {
	color: white;
	font-family: "Poppins", sans-serif;
	font-size: 15px;
	font-weight: 500;
	padding: 8px 16px;
	border-radius: 30px;
	transition: 200ms;
}

.navlinks > a:hover {
	color: var(--picton-blue);

	background-color: var(--prussian-blue);
	text-decoration-color: var(--picton-blue);
}
.navlinks {
	display: flex;
	gap: 20px;
}

.card-grid {
	padding-inline: 60px;
}
.card-grid > div {
	flex-direction: row;
}
@media screen and (max-width: 830px) {
	.wrapper {
		flex-direction: column;
		height: auto;
	}

	.wrapper > div {
		width: 100%;
	}
	.hero-text-container {
		height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	nav > a {
		display: none;
	}

	.hero-text-container > div {
		margin-inline: 40px;
		margin-right: 70px;
		margin-top: 140px;
	}

	.hero-interactive {
		position: absolute;
		bottom: 0;
		display: none;
		align-items: end;
	}
	.hero-interactive > div {
		width: 200px;
		height: 200px;
	}
	.hero-interactive > div > canvas {
		width: 200px;
		height: 200px;
		bottom: 0;
	}
	.hero-interactive {
		background: none;
	}
	.screen1_menu_btn {
		display: flex;
	}

	.navlinks {
		display: none;
		transform: translateX(-60px);
	}

	.card-grid > div {
		gap: 0;
	}
	.card-grid > div {
		flex-direction: column;
	}
}

/* Mobile Menu */
:root {
	--transitionl: 0.3s;
}

.screen1_menu_container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #f1d6f5;
	color: white;
	padding: 0 10px;
	backdrop-filter: blur(1px) saturate(180%);
	-webkit-backdrop-filter: blur(1px) saturate(180%);
	background-color: rgba(17, 25, 40, 0.75);
	border: 1px solid rgba(255, 255, 255, 0.125);
	display: flex;
	color: aliceblue;
	display: flex;
	padding-inline: 30px;
	gap: 30px;
	font-weight: 400;
	align-items: center;
}
.screen1_menu_btn {
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	cursor: pointer;
	transition: all var(--transitionl) ease-in-out;
}
.screen1_menu_hamburger {
	position: fixed;
	top: 32px;
	right: 32px;
	width: 20px;
	height: 2px;
	background-color: white;
	border-radius: 5px;
	z-index: 25;
	transition: all var(--transitionl) ease;
}

.screen1_menu_hamburger::before,
.screen1_menu_hamburger::after {
	content: "";
	position: absolute;
	width: 20px;
	height: 2px;
	background: white;
	border-radius: 5px;
	transition: all var(--transitionl) ease;
}
.screen1_menu_hamburger::before {
	transform: translateY(-6px);
}
.screen1_menu_hamburger::after {
	transform: translateY(6px);
}
.screen1_menu_items {
	background-color: #061a36;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	text-align: right;
	position: fixed;
	left: 100%;
	height: 100vh;
	width: 100%;
	padding-top: 70px;
	padding-right: 30%;

	top: 0;
	transition: all var(--transitionl) ease-in-out;
}
.screen1_menu_items li {
	padding: 10px 0;
	text-align: right;
	transition: all var(--transitionl) ease;
	list-style-type: none;
	color: white;
}

.screen1_menu_items li > a {
	color: white;
	font-family: "Poppins", sans-serif;
	font-size: 20px;
	font-weight: 600;
	letter-spacing: 2px;
}

.screen1_menu_items li:hover {
	opacity: 0.6;
}

/* animation */
.screen1_menu_btn input:checked ~ .screen1_menu_hamburger {
	transform: translateX(-50px);
	background: transparent;
}
.screen1_menu_btn input:checked ~ .screen1_menu_hamburger::before {
	transform: rotate(45deg) translate(35px, -35px);
}
.screen1_menu_btn input:checked ~ .screen1_menu_hamburger::after {
	transform: rotate(-45deg) translate(35px, 35px);
}
.screen1_menu_btn input:checked ~ .screen1_menu_items {
	left: 20%;
}
.screen1_menu_btn input {
	display: none;
}

.card-grid {
	display: flex;
	transform: translateY(100vh);
	flex-direction: column;
	overflow: hidden;
	gap: 40px;
	z-index: -10;
	margin: 0;
	align-items: center;
	padding: 100px;

	width: 100%;
	max-width: 100%;
}

.card-grid > div {
	display: flex;

	padding: 40px;
	gap: 40px;
	width: 100%;
	max-width: 1000px;
	border: 2px solid white;
	border-radius: 40px;
	overflow: hidden;
	background: rgba(0, 53, 84, 0.516);

	backdrop-filter: blur(19.5px);
	-webkit-backdrop-filter: blur(30.5px);
	transition: 200ms;
	border: 1px solid rgba(255, 255, 255, 0.18);
}

.card-img-div > img {
	border-radius: 20px;
	overflow: hidden;

	aspect-ratio: 1;
}

.card-content-div > h1 {
	font-size: 30px;
	font-weight: bolder;
	margin-bottom: 20px;
	color: white;
}

.card-content-div > p {
	opacity: 70%;
	margin-bottom: 20px;
}
.card-content-div > h2 {
	color: var(--picton-blue);
	font-weight: bold;
	font-size: 18px;
}

.card-content-div > a {
	background-color: white;
	color: black;
	display: inline-block;
	margin-top: 20px;
	border-radius: 40px;
	padding: 10px 20px;
	font-size: 18px;
	font-weight: 500;
	transition: 200ms;
}

.card-content-div > a:hover {
	background-color: #aee7ff;
	transform: translateX(10px);
}

.card-grid > div:has(.card-content-div > a:hover) {
	background: rgba(0, 65, 103, 0.516);

	backdrop-filter: blur(19.5px);
	-webkit-backdrop-filter: blur(30.5px);

	border: 1px solid rgba(0, 150, 214, 0.18);
}
@media screen and (max-width: 830px) {
	.card-grid {
		transform: translateX(-30px);
		margin-top: 100vh;
		padding-inline: 20px;
	}
	.card-grid > div {
		flex-direction: column;
	}
}
